<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro de Usuários</title>
</head>

<body>
  <h1>Cadastro de Usuários</h1>
  <form action="/cadastro" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

    <div>
      <label for="login">Login do usuário:</label>
      <input type="text" id="login" name="login" required />
    </div>
    <div>
      <label for="password">Senha do usuário:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <fieldset>
      <legend>Selecione o tipo do usuário:</legend>

      <div>
        <input type="radio" id="comum" name="role" value="user" checked />
        <label for="comum">Comum</label>
      </div>

      <div>
        <input type="radio" id="admin" name="role" value="admin" />
        <label for="admin">Admin</label>
      </div>
    </fieldset>

    <div class="button">
      <button type="submit">Cadastrar</button>
    </div>
  </form>
</body>

</html>